@inject IViewLocalizer _local;
@{
    ViewData["Title"] = _local["Galery"];
}


<div class="container my-container">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
    <br />
    <hr />

    @for (int? i = 1; i < ViewBag.imgKitchensLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Kitchens/@ViewBag.Kitchens-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Kitchens/@ViewBag.Kitchens-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgKitchensLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Wardrobes/@ViewBag.Wardrobes-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Wardrobes/@ViewBag.Wardrobes-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgBathroomFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.BathroomFurniture/@ViewBag.BathroomFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.BathroomFurniture/@ViewBag.BathroomFurniture-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgLivingRoomFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.LivingRoomFurniture/@ViewBag.LivingRoomFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.LivingRoomFurniture/@ViewBag.LivingRoomFurniture-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgWallBedsLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.WallBeds/@ViewBag.WallBeds-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.WallBeds/@ViewBag.WallBeds-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgChildrensFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.ChildrensFurniture/@ViewBag.ChildrensFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.ChildrensFurniture/@ViewBag.ChildrensFurniture-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgOtherLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Other/@ViewBag.Other-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Other/@ViewBag.Other-@(i).jpg" />
            </a>
            @*<h3>@ViewBag.type - @(i)</h3>*@
        </div>
    }
</div>

<style>
    .my-container {
        /*border: 3px solid black;*/
        /*padding: 50px;*/
        margin-top: 250px;
        width: 100%;
        height: auto;
        background-color: #969696;
    }

    h2 {
        font-size: 28px;
        color: rgba(64, 160, 219,0.8);
        text-shadow: 2px 2px 3px #fff;
        letter-spacing: 3.5px;
        text-decoration: underline;
        font-family: 'Felix Titling';
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0.64);
        text-align: center;
        width: 750px;
        height: 40px;
        margin: 0 auto;
        padding: 2px;
        border-radius: 60px;
        border-left: 10px solid black;
        border-right: 10px solid black;
    }

    .img-container {
        width: 350px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    h3 {
        background-color: black;
        color: white;
        border-radius: 20px;
        text-align: center;
        text-shadow: 2px 2px #0479c2;
        font-size: 16px;
    }
</style>