@model List<ProductVM>

@inject IViewLocalizer _local;
@{
    ViewData["Title"] = _local["products"];

}

<div class="container my-container">
    <div class="row">
        <div class="col-md-10 header-title">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <br />
    <div class="col-sm-4 col-md-4 ">
        <form method="get">
            <input type="button" class="btns" title="ProductType" value=@_local["Kitchens"]
                   onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.Kitchens})'" />
        </form>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <form method="get">
            <input type="button" class="btns" title="ProductType" value=@_local["Wardrobes"]
                   onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.Wardrobes})'" />
        </form>
    </div>
    <div class="col-sm-4 col-md-4 ">
        <form method="get">
            <input type="button" class="btns" title="ProductType" value="@ViewBag.bathroom"
                   onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.BathroomFurniture})'" />
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 ">
            <form method="get">
                <input type="button" class="btns" title="ProductType" value="@ViewBag.living"
                       onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.LivingRoomFurniture})'" />
            </form>
        </div>
        <div class="col-sm-4 col-md-4 ">
            <form method="get">
                <input type="button" class="btns" title="ProductType" value="@ViewBag.wall"
                       onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.WallBeds})'" />
            </form>
        </div>
        <div class="col-sm-4 col-md-4 ">
            <form method="get">
                <input type="button" class="btns" title="ProductType" value="@ViewBag.child"
                       onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.ChildrensFurniture})'" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-1 ">
            <form method="get">
                <input type="button" class="btns" title="ProductType" value=@_local["Other"]
                       onclick="location.href='@Url.Action("ProductType","Product",new { type = ProductTypeVM.Other})'" />
            </form>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            <form method="get">
                <input type="button" class="btn btn-log btn-sm" title="User" value="@ViewBag.btnLog"
                       onclick="location.href='@Url.Action("GetByUsername","User",new { username = User.Identity.Name})'" />
            </form>
        </div>
    }
</div>
<link href="~/css/Product/products.css" rel="stylesheet" />
