@model CareerVM

@inject IViewLocalizer _localizer;

@{
    ViewData["Title"] = _localizer["Career"];
    ViewBag.advertiser = _localizer["If you find yourself in our field: design and furniture design, " +
        "furniture production, then we encourage you to contact us as follows."];
}

<div class="container my-container">
    <div>
        <h2>@ViewData["Title"]</h2>        
    </div>
    <div class="row"></div>
    <fieldset class="col-md-12 container-advertiser">
        <legend ><b>@_localizer["Join our team"]</b></legend>
        <p class="advertaiser-text">@ViewBag.advertiser</p>
    </fieldset>    
    <div class="row"></div>
    <div class="container-form col-md-12">
        @using (Html.BeginForm("Create", "Career", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-1 form-blocks container-firstName">
                    @Html.LabelFor(x => x.Firstname)
                    <br />
                    <span class="glyphicon glyphicon-user">
                        @Html.TextBoxFor(x => x.Firstname, new { @class = "text-firstname" })
                    </span>
                </div>
                <div class="col-md-11"></div>
                <div class="col-md-1"></div>
                <div class="col-md-2 text-danger error-firstname">
                    @Html.ValidationMessageFor(x => x.Firstname)
                </div>
            </div>
            
            <div class=" col-md-6">
                <div class="col-md-3"></div>
                <div class="col-md-1 form-blocks container-lastName">
                    @Html.LabelFor(x => x.Lastname)
                    <br />
                    <span class="glyphicon glyphicon-user">
                        @Html.TextBoxFor(x => x.Lastname, new { @class = "text-lastname" })
                    </span>
                </div>

                <div class="col-md-12"></div>
                <div class=" col-md-3"></div>
                <div class=" col-md-1 text-danger">
                    @Html.ValidationMessageFor(x => x.Lastname)
                </div>
            </div>
            
        </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-1 form-blocks Phone">
                    @Html.LabelFor(x => x.Phone)
                    <br />
                    <span class="glyphicon glyphicon-phone">
                        @Html.TextBoxFor(x => x.Phone, new { @class = "text-phone" })
                    </span>
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2 text-danger">
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-1 btn  form-blocks description">
                    @Html.LabelFor(x => x.Description)

                    <br />
                    @Html.TextAreaFor(x => x.Description, new { @class = "description-text" })
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2 text-danger">
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1 form-blocks container-file">
                    @Html.LabelFor(x => x.Resume, new { @class = "label-resume" })
                    <br />
                    <span class="glyphicon glyphicon-upload">
                        <span class="btn  btn-file">
                            @Html.TextBoxFor(x => x.Resume, new { type = "file", accept = ".doc,.docx,.pdf,.txt" })

                        </span>
                    </span>
                </div>
                <div class=" col-md-10"></div>
                <div class=" col-md-1 text-danger error-resume">
                    @Html.ValidationMessageFor(x => x.Resume)
                    <p>@ViewBag.errorUploadMsg</p>
                    <p>@ViewBag.errorResumeMsg</p>
                    <p>@ViewBag.ErrorFileLength</p>
                </div>
                @*<div class=" col-sm-2 "></div>*@
                <div class=" col-md-6"></div>
                <div class=" col-md-1 form-blocks button">
                    <button class="form-button" type="submit">SUBMIT</button>
                </div>
                <br />
            </div>
        }
    </div>
</div>
<link href="~/css/Career/create.css" rel="stylesheet" />
<script src="~/js/create.js"></script>