@model CareerVM
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "Detail";
}

<div class="container my-container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1 container-model container-model-first">
                <h3>@_localizer["FULL NAME"]: <span>@Model.Firstname @Model.Lastname</span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 container-model">
                <h3>@Html.DisplayNameFor(x => x.Phone): <span>@Model.Phone</span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 container-model container-model-description">
                <h3>@Html.DisplayNameFor(x => x.Description): </h3>
                <p class="text-description">@Model.Description</p>
            </div>           
            <div class="col-md-3"></div>            
            <div class="col-sm-1 col-md-1 container-resume">
                <h3>RESUME:</h3>
                <a class="resume" href="~/data/resumes/@ViewBag.file" download>@ViewBag.file</a>
            </div>
        </div>
    </div>
</div>
<link href="~/css/Career/detail.css" rel="stylesheet" />