@model List<CareerVM>
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = _localizer["APPLICANTS"];
    int inc = 1;
}

<div class="container my-container">
    <h2 class="aplicants-heading">@ViewData["Title"]</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">@_localizer["First Name"]</th>
                <th scope="col">@_localizer["Last Name"]</th>
                <th scope="col">@_localizer["Phone"]</th>
                <th scope="col">@_localizer["Description"]</th>
                <th scope="col">@_localizer["Links"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var people in Model)
            {              
                <tr>
                    <td>@(inc++)</td>
                    <td>@people.Firstname</td>
                    <td>@people.Lastname</td>
                    <td>@people.Phone</td>
                    <td class="cell-description">@people.Description.Substring(0, 30)</td>
                    <td class="cell-links">
                        <div class="col-xs-1 col-sm-1 col-md-1"></div>
                        <a asp-action="Detail" asp-controller="Career" asp-route-id="@people.Id"
                           class="col-xs-1 col-sm-12 col-md-2 btn button button-detail">@_localizer["Details"]</a>
                        <form class="col-xs-4 col-sm-1 col-md-4" asp-action="DeleteById" asp-controller="Career" asp-route-id="@people.Id" method="get">
                            <button type="submit" value="delete" class="button button-remove">@_localizer["Remove Alpicant"]</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<link href="~/css/Career/aplicants.css" rel="stylesheet" />

